<section class="container" id="About-me">
  <h1>About me</h1>
  <div id="grid-div">
    <div id="img-div">
      <img src="static/Slika.jpg" width="300" height="300" class="img-fluid" id="profile-img">
    </div>
    <div id="about-div">
      <p>Hi, I am Dusan,<br><br>I am a mechanical engineer with almost 5 years in the quality control, quality assurance and quality management. Interested in 3D CAD modeling (Proficient with CATIA, SolidWorks and Autodesk Inventor), interested in data analysis and writing scripts to automate task (Proficient in Python and SQL). Able to explain and present analysis and assumptions in a rational manner, able to work in a dynamic and challenging environments and to take ownership of assigned projects and see them thru to completion. I have a strong work ethic, ability to handle multiple projects at once and a yearning to never stop learning. Asking the right questions has also been a strong suit of mine so that the final product perfectly reflects what the client is seeking to receive.</p>
    </div>
    
    <div class="col-lg-12 text-center" id="line-div">
      <svg id="line-svg" width="1000" height="100">
        <line x1="0" y1="50" x2="1000" y2="50" style="stroke:black; stroke-width:1.5"></line>
  
        
        
        <circle cx="160" cy="50" r="10" stroke="#f8f9fa" stroke-width="6" fill="#007bff"></circle>
        <text text-anchor="middle" x="160" y="80" fill="black">2015</text>
        <text font-size="13" text-anchor="middle" x="70" y="30" fill="black">Bechelor's Degree</text>
        <text style="font-style: italic" font-size="13" text-anchor="middle" x="70" y="70" fill="#808080">FES,</text>
        <text style="font-style: italic" font-size="13" text-anchor="middle" x="70" y="85" fill="#808080">University of Kragujevac</text>
  
        <circle cx="335" cy="50" r="10" stroke="#f8f9fa" stroke-width="6" fill="#007bff"></circle>
        <text text-anchor="middle" x="335" y="80" fill="black">2016</text>
        <text font-size="13" text-anchor="middle" x="250" y="30" fill="black">Quality Control</text>
        <text style="font-style: italic" font-size="13" text-anchor="middle" x="250" y="70" fill="#808080">Wacker Neuson Group,</text>
        <text style="font-style: italic" font-size="13" text-anchor="middle" x="250" y="85" fill="#808080">Kragujevac</text>
  
        <circle cx="505" cy="50" r="10" stroke="#f8f9fa" stroke-width="6" fill="#007bff"></circle>
        <text text-anchor="middle" x="505" y="80" fill="black">2018</text>
        <text font-size="13" text-anchor="middle" x="420" y="30" fill="black">Mainteinance</text>
        <text style="font-style: italic" font-size="13" text-anchor="middle" x="420" y="70" fill="#808080">Quality Inn Boardwalk,</text>
        <text style="font-style: italic" font-size="13" text-anchor="middle" x="420" y="85" fill="#808080">Ocean City, MD, USA</text>
  
        <circle cx="675" cy="50" r="10" stroke="#f8f9fa" stroke-width="6" fill="#007bff"></circle>
        <text text-anchor="middle" x="675" y="80" fill="black">2019</text>
        <text font-size="13" text-anchor="middle" x="590" y="30" fill="black">Quality Assurance</text>
        <text style="font-style: italic" font-size="13" text-anchor="middle" x="590" y="70" fill="#808080">Siemens Mobility d.o.o,</text>
        <text style="font-style: italic" font-size="13" text-anchor="middle" x="590" y="85" fill="#808080">Cerovac</text>
  
        <circle cx="845" cy="50" r="10" stroke="#f8f9fa" stroke-width="6" fill="#007bff"></circle>
        <text text-anchor="middle" x="845" y="80" fill="black">2023</text>
        <text font-size="13" text-anchor="middle" x="760" y="25" fill="black">Quality Manager In Project</text>
        <text font-size="13" text-anchor="middle" x="760" y="40" fill="black">(QMIP)</text>
        <text style="font-style: italic" font-size="13" text-anchor="middle" x="760" y="70" fill="#808080">Siemens Mobility d.o.o,</text>
        <text style="font-style: italic" font-size="13" text-anchor="middle" x="760" y="85" fill="#808080">Cerovac</text>
        
        <text font-size="13" text-anchor="middle" x="920" y="25" fill="black">Engineering Quality Leader</text>
        <text font-size="13" text-anchor="middle" x="920" y="40" fill="black">(EQL)</text>
        <text style="font-style: italic" font-size="13" text-anchor="middle" x="930" y="75" fill="#808080">SEGULA Technology</text>
  
      </svg>
    </div>
  </div>
    
  
</section>