<section class="container" id="Certificates">
  <h1>Certifications</h1>
  <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      {% for certificate in certificates %}
            <div class="carousel-item{% if loop.first %} active{% endif %} ratio" id="cert-div" style="--bs-aspect-ratio: 83%;">
              <iframe src="{{ url_for('static', filename='Certificates/' + certificate['image']) }}"class="" id="cert" alt="{{ certificate['name'] }}">
              
              </iframe>
              
            </div>
            {% endfor %}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>  
  <div class="container" id="button-div">
    <a class="btn btn-primary" href="/cert">See all</a>
  </div>
</section>