<section class="container" id="Contact">
  <h1>Contact</h1>
  <div>
    <p>Feel free to contact me at any time for any questions. You can contact me by email, LinkedIn or Instagram, or you can open an issue or pull request for any open source project on GitHub. </p>
    <button class="btn btn-primary rounded-pill px-3 mail-btn" type="button">Email</button>
    {% include 'links.html' %}
  </div>
  <div class="map-div">
    <iframe class="google-map" src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d2395.1908561748705!2d20.90356680133548!3d44.0210120213867!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sKralja%20Milana%20IV%2C%20Kragujevac%2054!5e0!3m2!1sen!2srs!4v1688029364187!5m2!1sen!2srs" width="400" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
</section>