<footer class="d-flex flex-wrap justify-content-between border-top bg-body-tertiary" id="Footer">
  <div class=" d-flex align-items-center">
    <span class="text-body-secondary">© 2023 Dusan Vlajkovac</span>
  </div>

  <div class="list-unstyled d-flex" id="social">
    <ul class="social-links">
      <li><a href="https://www.linkedin.com/in/dusan-vlajkovac-36249920a/" class="linkedin" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
      <li><a href="https://www.instagram.com/dusanvlajkovac/" class="instagram" target="_blank"><i class="fab fa-instagram"></i></a></li>
      <li><a href="https://github.com/DuleNapon" class="github" target="_blank"><i class="fab fa-github"></i></a></li>
    </ul> 
  </div>
</footer>