<section class="container my-5" id="Hero-section">
  
  <div class="p-5 text-center bg-body-tertiary rounded-3">
    {% include 'hero-img.html' %}
    <h2 class="text-body-emphasis">Dusan Vlajkovac</h2>
    <p class="col-lg-8 mx-auto fs-5 text-muted">
      Hi! Welcome to Dusan Vlajkovac's homepage. I am a mechanical engineer with knowledge in Quality Management, Software Automation and Data Analysis.
    </p>
    <div class="d-inline-flex gap-2 mb-5">
      <a class="btn btn-primary rounded-pill px-3" type="button" href="#About-me">Visit</a>
      <a class="btn btn-secondary rounded-pill px-3" type="button" href="#Contact">Contact</a>
    </div>
    {% include 'links.html' %}
  </div>
  
</section>