<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom fixed-top container">
  <div id="logo-div">
    <a href="#" class="navbar-brand">
      <img src="static/Slika.jpg"  width="50" height="50" id="logo-img">
      <b>Dusan Vlajkovac</b>
    </a>
  </div>
      
  <div class="container " id="nav-div">
    <ul class="nav nav-pills navbar-collapse">
      <li class="nav-item"><a href="#About-me" class="nav-link active" aria-current="page">About me</a></li>
      <li class="nav-item"><a href="#" class="nav-link">Portfolio</a></li>
      <li class="nav-item"><a href="#" class="nav-link">Certificates</a></li>
      <li class="nav-item"><a href="#" class="nav-link">Testimonials</a></li>
      <li class="nav-item"><a href="#" class="nav-link">Contact</a></li>
    </ul>
  </div>
</header>